button {
    background-color: #850842;
    color: white;
    border: none;
    border-radius: 50px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1.2rem;
    width: 200px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-container {
    display: flex;
    align-items: center;
}

.tabla-split2 {
    width: 50%;
    padding: 10px;
}
