<?xml version="1.0"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<system.web>
		<sessionState timeout="60" /> <!-- Tiempo de expiración en minutos -->
		<compilation debug="true" targetFramework="4.7.2"/>
		<httpRuntime targetFramework="4.7.2"/>
	</system.web>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="BasicHttpBinding_ISWLNGAAP" />
			</basicHttpBinding>
		</bindings>
		<client>
			<endpoint address="http://localhost:51705/SWLNGAAP.svc" binding="basicHttpBinding"
			  bindingConfiguration="BasicHttpBinding_ISWLNGAAP" contract="SWLNGAAP.ISWLNGAAP"
			  name="BasicHttpBinding_ISWLNGAAP" />
		</client>
	</system.serviceModel>
</configuration>